// Initial Type
// ============

@include import-webfonts;


:root {
  // @include show-breakpoints;
  --text-shadow: #{color('text-shadow')};
  @include font-family('body');
  background: color('background');
  color: color('text');
  font-size: size('root');
  font-size: size('responsive');
  line-height: ratio('text-ratio');
  text-shadow: 0 1px 0 var(--text-shadow, color('text-shadow'));
}

a {
  #{$link} {
    @include transition('link');
    color: color('action');
    cursor: pointer;
    outline: none;
    text-decoration: underline;
    text-decoration-color: color('action-light');
    text-decoration-skip: ink;
  }

  #{$focus} {
    color: color('action-hover');
    text-decoration-color: currentColor;
  }
}


svg {
  fill: currentColor;
}


p,
ul,
ol,
dl,
blockquote {
  margin-bottom: var(--newline, initial);

  &:not(:last-child) {
    --newline: #{size('newline')};
  }
}


blockquote {
  font-style: italic;
  text-align: left;

  @include before('“') {
    color: color('accent');
    float: left;
    font-size: size('xlarge');
    margin: negative('half-shim') 0 0 negative('shim-plus');
  }
}


abbr[title] {
  border: 0;
  text-decoration: underline dotted;
}


.amp {
  @include font-family('amp');
  font-style: italic;
  font-weight: normal;
}


.is-hidden {
  @include is-hidden;
}
