[data-slide] {
  background-image: var(--img, initial);
  background-position: var(--pos, initial);
  background-size: var(--size, initial);
  background-repeat: var(--repeat, initial);
  border: 1px solid #ccc;
  min-height: 50vh;
}
