// Scale Config
// ============


// Ratios
// ------
/// @group scale
/// @ratios
$text-ratios: (
  'text-ratio': 1.4,
);

@include herman-ratios('text-ratios', $text-ratios);


// Text Sizes
// ----------
/// @group scale
/// @sizes
$text-sizes: (
  'root': 16px,
  'responsive': 'calc(#root + 0.5vw)',
  'reset': 1rem,
  'rhythm': 1rem ('text-ratio': 1),
  'xlarge': calc(1rem + 2vw),
  'large': calc(1rem + 1vw),
  'medium': calc(1rem + 0.5vw),
  'small': 1rem ('text-ratio': -0.25),
  'xsmall': 1rem ('text-ratio': -0.675),
  'xxsmall': 1rem ('text-ratio': -1.5),
  'code': '#smaller',

  'larger': 1em ('text-ratio': 1),
  'xlarger': 1em ('text-ratio': 2),
  'smaller': 1em ('text-ratio': -0.5),
  'xsmaller': 1em ('text-ratio': -1),
);

@include herman-sizes('text-sizes', $text-sizes);


// Spacing Sizes
// -------------
/// @group scale
/// @sizes
$spacing-sizes: (
  'newline': 1rem,
  'halfline': '#newline' ('divide': 2),
  'gutter': '#rhythm',
  'double-gutter': '#gutter' ('times': 2),
  'spacer': '#gutter' ('times': 4),
  'shim': '#gutter' ('divide': 2),
  'half-shim': '#shim' ('divide': 2),
  'quarter-shim': '#shim' ('divide': 4),
  'shim-plus': '#shim' ('times': 1.5),
);

@include herman-sizes('spacing-sizes', $spacing-sizes);


// Pattern Sizes
// -------------
/// @group scale
/// @sizes
$pattern-sizes: (
  'hairline': 1px,
  'corner': '#shim' ('times': 0.25),
);

@include herman-sizes('pattern-sizes', $pattern-sizes);


// Page Sizes
// ----------
/// @group scale
/// @sizes output-only
$page-sizes: (
  'page': 28rem,
  'half-page': '#page' ('times': 0.5),
  'small-page': '#page' ('times': 0.75),
  'wide': '#page' ('times': 1.5),
  'double': '#page' ('times': 2),
);

@include herman-sizes('page-sizes', $page-sizes);


// Breakpoints
// -----------
$do: ('plus': '#gutter', 'to': 'browser-ems');
$breakpoints: (
  'half-page': size('half-page') $do,
  'small-page': size('small-page') $do,
  'page': size('page') $do,
  'wide': size('wide') $do,
  'double': size('double') $do,
);


$break-context: ();

@mixin show-breakpoints {
  @each $break in map-keys($breakpoints) {
    @include above($break) {
      @include after('above: #{$break}') {
        @include position(fixed auto 0 0 0);
        background: color('callout');
      }
    }
  }
}
