// Two-up
// ======

.two-up {
  display: grid;
  grid-gap: size('shim');
  margin: size('newline') 0;

  > * {
    margin: 0;
  }

  @include above('page') {
    grid-template-columns: repeat(auto-fit, minmax(size('small-page'), 1fr));
  }
}
